/* Body/Container Modifications
*********************************/
body {
	background-color:#e2e1df;
}

#sidebar-right {
	background-color: #ededed;
}

#container-head {
	background: #333;
}

#nav-break {
	background: url('../../img/header_bg.png') repeat-x left bottom;
}

#homepage {
	background: #e2e1df url("../../img/home_bg.png") repeat-y 69.791666666666667% 0; /* 675px / 960px */
}

#main {
	background: #e2e1df url("../../img/blog.png") repeat-y 22.9166666666667% 0; /* 220px / 960px */
}

#searchresults {
	background: #e2e1df;
}

/* Body Font Colors and Mods
*********************************/
h1, h2, h3, h4, h5, h6 {
	color: #181818;
}

.altcolorblack,
#homepage a p,
#homepage p a,
h2.widgettitle,
.page-numbers.current,
#subnav li .highlight a {
	color:#333333;
}
	
.altcolorblue,
#homepage .morenews p a,
#undergrad-widget .textwidget h4,
.people-tabs h4 {
	color:#00337F;
}

#blogfeed h2 {
	color: #999999;
}

/* Navigation Fonts and Backgrounds
*********************************/
#nav .sub-menu,
#nav .sub-menu a {
	color: #FFFFFF;
}

#nav a {
	color:#CCC;
}

#nav .sub-menu {
	background: #679bcd;
}

#nav .sub-menu li:hover {
	background:#38638e;
}

#nav li.current_page_item,
#nav li.current-page-ancestor {
	background: url('../../img/nav-current.gif') no-repeat center bottom;
}

#nav li:hover {
	background: url('../../img/nav-hover.png') no-repeat center bottom;
}

/* Sub-page left hand nav */
li.subnav-head {
	color: #a6a6a6;
}

#subnav li a {
	color:#487ca3;
}

#subnav li ul li a {
	color:#386180;
}

#subnav li.current_page_item, 
#subnav li.current_page_ancestor {
	background: url('../../img/subnav-current.png') no-repeat 5.4545454545455% .4em;
}

#subnav li ul li.current_page_item,
#subnav li ul li.current_page_parent {
	list-style-image:url('../../img/tert_nav.png');
}

/* Footer
*********************************/
#footer p a {
	color: #444;
}

#container-foot {
	background: #a9aaa4 url('../../img/bg_footer.png') repeat-x left top;
}

/* Widgets
*********************************/
#undergrad-widget,
.profile_box {
	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(198,197,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(198,197,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#c6c5c3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* W3C */
}

.profile_box .spotlight {
	background: #c4a41d url(../../img/widget_header.png) no-repeat top left;
}

.profile_box .jobmarket {
	background: #c4a41d url(../../img/jobmarket.gif) no-repeat top left;
}

/* Homepage slider
*********************************/
.blueslide {
	background: #679bcd url('../../img/slider-bottom-bg.png') repeat-x left bottom;
}

.greenslide {
	background: #95a739 url('../../img/slider-bottom-bg.png') repeat-x left bottom;
}

.yellowslide {
	background: #c4a41d url('../../img/slider-bottom-bg.png') repeat-x left bottom;
}
.flex-caption h3 {
	font-size: 1.4em; 
	line-height: 1.4em;
	color:#fff;
}