/* Body/Container Modifications
*********************************/
body.home {
	background: #e2e1df url('../../img/books.jpg') center top no-repeat;
}

body.page { 
	background: #e2e1df;
}

body.page #container-head {
  	background: url('../../img/books.jpg') center top no-repeat;
  	
}

body.home #container-head {
  	background-color:rgba(80,72,55,0.5);
}
#nav-break {
	background: url('../../img/header_bgYellow.png') repeat-x left bottom;
}

#sidebar-right {
	background-color: #ededed;
}

#homepage {
	background: #e2e1df url("../../img/home_bg.png") repeat-y 69.791666666666667% 0; /* 675px / 960px */
}


#main {
	background: #e2e1df url("../../img/blog.png") repeat-y 22.9166666666667% 0; /* 220px / 960px */
}

#searchresults {
	background: #e2e1df;
}

/* Body Font Colors and Mods
*********************************/
h1, h2, h3, h4, h5, h6,
h3.acc_trigger a,
.tabs li a {
	color: #383327;
}

a, a:visited {
	color: #C4A41D;
}

.entry a {
	font-weight: 700;
}

.altcolorblack,
#homepage a p,
#homepage p a,
h2.widgettitle,
.page-numbers.current,
#subnav li .highlight a {
	color:#333333;
}
	
.altcolorblue,
.altyellow,
#homepage .morenews p a,
#undergrad-widget .textwidget h4,
.people-tabs h4 {
	color:#383327;
}

#blogfeed h2 {
	color: #999999;
}


/* Navigation Fonts and Backgrounds
*********************************/
#nav {
	width:100%;
	margin-left:1%;
	margin-top:1em;
	clear:both;
}

#nav ul { /* all lists */
	margin: 0 auto;
	width:100%;
	max-width: 960px;
	padding: 0;
	font-weight: 400;
	font-size: 1.4em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-smooth:always;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-ms-filter:none;
    filter:none;
	list-style: none;
	line-height: 1;
}
#nav ul li {
	margin-right: 3%;
}
#nav ul li a {
	display: block;
	color:#f7f7f7;
}
#nav ul li {
padding-top: 1em;
}

#nav a {
	color:#CCC;
}

#nav li.current_page_item,
#nav li.current-page-ancestor {
	background: url('../../img/nav-currentYellow.png') no-repeat center bottom;
}

#nav li:hover {
	background: url('../../img/nav-hoverYellow.png') no-repeat center bottom;
}
/* Dropdown nav */
#nav .sub-menu {
	background: #504837;
	width: 10em;
}

#nav .sub-menu,
#nav .sub-menu a {
	color: #FFFFFF;
}

#nav .sub-menu li {
	width:10em;
	text-transform: none;
	border-bottom: #695e48 solid 1px;
}

#nav .sub-menu li:hover {
	background:#383327;
}

/* Sub-page left hand nav */

#subnav li {
	padding: 5px 7px 5px 14%;
	text-indent:-13px;
	line-height: 1.2em;
	zoom: 0;
}

#subnav li a {
	color:#383327;
}

#subnav li ul li {
	line-height: 1em;
}

#subnav li ul li a {
	color:#504837;
}

#subnav li.current_page_item, 
#subnav li.current_page_ancestor {
	background: url('../../img/subnav-currentYellow.png') no-repeat 5.4545454545455% .45em;
	padding-left: 18.6%;
}

#subnav li ul li.current_page_item,
#subnav li ul li.current_page_parent {
	list-style-image:url('../../img/tert_navYellow.png');
	margin-left:12px;
	padding-left:7px;
	padding-right: 0px;
}

li.subnav-head {
	color: #a6a6a6;
}

/* Footer
*********************************/
#footer p a,
#footer {
	color: #ccc;
}

#container-foot {
	background: #64675e url('../../img/bg_footerYellow.png') repeat-x left top;
}

/* Widgets
*********************************/
.profile_box,
.textwidget,
.widget_bulletin_board 
{
	background: rgb(198,197,195); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(198,197,195) 0%, rgb(230,229,227) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(198,197,195)), color-stop(100%,rgb(230,229,227))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(198,197,195) 0%,rgb(230,229,227) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(198,197,195) 0%,rgb(230,229,227) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(198,197,195) 0%,rgb(230,229,227) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(198,197,195) 0%,rgb(230,229,227) 100%); /* W3C */
}

.WPCalendarSimple {
	background: rgb(230,229,227); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(230,229,227,1) 0%, rgba(198,197,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,229,227,1)), color-stop(100%,rgba(198,197,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* W3C */
}

#address-widget .textwidget {
	background: none;
}

.profile_box .spotlight {
	background: #4b8ab5 url(../../img/widget_headerYellow.png) no-repeat top left;
}

.profile_box .jobmarket {
	background: #4b8ab5 url(../../img/jobmarketYellow.gif) no-repeat top left;
}

#grad-widget .textwidget p,
#undergrad-widget .textwidget p,
.bulletinboard p {
	font-size: .85em;
}

.WPCalendarSimple h4,
.WPCalendarSimple h4 a {
	color: #4b8ab5;
}
/* Header
*********************************/
#logo {
	min-width: 175px;
	margin-bottom: 2px;
}

#logo img {
	margin: 0;
}

#searchbar input {
	background-color: #686868;
	border: none;
	color: #999999;
}

/* Homepage Slider
*********************************/
ul.slides {
	background: rgba(80,72,55,0.5);
}
.yellowslide,
.greenslide,
.blueslide {
	padding-bottom: 20px;
}

.flexslider .slides img {
	width:70%;
	margin: 0px 0 25px 0;
	padding-top:25px;
}

.flex-caption h3 {
	font-size: 1.7em; 
	line-height: 1.4em;
	color:#f7f7f7;
	font-weight: 400;
}

a.button,
a.button:hover {
	background: #f7f7f7;
	font-size: 1em;
	opacity: 0.75;
}

/* Misc Mods
*********************************/
.entry img {
	border:none;
}

.textwidget img,
.widget_bulletin_board img {
	box-shadow: none;
	filter: none;
}

.fc-event a {
	font-weight: 400;
}

div .fc-event.category-0, div .fc-event.category-0 a {
	background-color: #4b8ab5;
	border-color: #4b8ab5;
}