/* Base structure
---------------------------------------- */

/*
	* The body will work like a 'div#wrapper' (for this to work, the 'body' needs to have a set width)

	* To add a background to the PAGE, set it in the 'html' element
	* To add a background to the WRAPPER, set it in the 'body' element
*/
html {
	height: 100%;
	font-size: 90%;
	overflow-y: scroll; /* Force a scrollbar in non-IE */
	-webkit-text-size-adjust: 90%; /* Prevent iOS text size adjust on orientation change without disabling user zoom */
	-ms-text-size-adjust: 90%;
}

body {
	margin: 0 auto;
	min-height: 100%;
	background-color:#e2e1df;
}

/* Fonts settings based on the 100E2R standard: http://www.informationarchitects.jp/en/100e2r/ */
body, button, input, select, textarea {
	font: 1em/1.5 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444; /* Black on white is too much contrast, #333 is a lot better */
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
}

/* Add and/or remove tags as your baseline grid needs */
p, blockquote, q, pre, address, hr, code, samp, dl, ol, ul, form, table, fieldset, menu, h4, h5, h6, img, figure, figcaption, button, hr {
	margin: 0 0 1.625em;
}



/* Special Classes
___________________________________________________________*/
.altcolorblack {
	color:#333333;
}
	
.altcolorblue {
	color:#00337F;
}

.clearboth {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;	
}

.label {
font-weight: 700;
}

.floatleft {
float:left;
}

/* Containers
----------------------------------- */

/*Header 
----------------------------------- */
#container-head {
	width:100%;
	background: #333;

}

#nav-break {
	background: url('../img/header_bg.png') repeat-x left bottom;
	height:27px;
	position:relative;
	z-index: 2;
}

#header {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display:block;
}

#header-left {
	width: 22.9166666666667%; /* 220px / 960px */
	min-width: 175px;
	float:left;

}

#header-right {
	width: 77.0833333333333%; /* 740px / 960px */
	float:right;
}

/*Content 
----------------------------------- */
#container-mid {
	width:100%;
}

#main {
	width:100%;
	max-width: 960px;
	background: #e2e1df url("../img/blog.gif") repeat-y 22.9166666666667% 0; /* 220px / 960px */
	margin: 0 auto;
	display: block;
}

#sidebar-left {
	width: 22.9166666666667%; /* 220px / 960px */
	float:left;
}


#content {
	width: 77.0833333333333%; /* 740px / 960px */
	float:right;
}

#address {
	padding-top: 22.727272727272727%; /* 50px / 220px */
	padding-left: 6.8181818181818%; /* 15px / 220px */
	font-size: 0.75em;
}


/*Footer
----------------------------------- */
#container-foot {
	background: #a9aaa4 url('../img/bg_footer.gif') repeat-x left top;
	width:100%;
}


#footer {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
	clear: both;
	padding-top: 5.2083333333333%; /* 50px / 960px */
}

#footer p {
	margin:0;
}

#footer p a {
	color: #444;
	font-size:.8em;
	}
	
#footer-left {
	width: 77.0833333333333%; /* 740px / 960px */
	float: left;
}


#footer-right {
	width: 22.9166666666667%; /* 220px / 960px */
	float:right;
}

#social-media {
	list-style:none;
	display:inline;
	height:32px;
	float:right;
}

#social-media li {
	display: block;
	float:left;
	}

#social-media .facebook {
	background: url('../img/facebook.gif') no-repeat 0 0;
	height:32px;
	width:35px;
}

#social-media .facebook:hover {
	background-position: 0 -32px;}

#social-media .facebook span {
	position: absolute;
  	top: -999em;
}

#social-media .youtube {
	background: url('../img/youtube.gif') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .youtube:hover {
	background-position: 0 -32px;}

#social-media .youtube span {
	position: absolute;
  	top: -999em;
}

#social-media .rss {
	background: url('../img/rss.gif') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .rss:hover {
	background-position: 0 -32px;}

#social-media .rss span {
	position: absolute;
  	top: -999em;
}
/* Nav
---------------------------------------------*/
#nav {
	padding-left: 27.0833333333333%; /* 260px / 960px */
	
}

#nav a {
	color:#CCC;
}

#nav ul { /* all lists */
	padding: 0;
	margin: 0;
	font-weight: 600;
	font-size: 1.25em;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 0.1em;
	list-style: none;
	line-height: 1;
}

#nav ul li {
margin-right: 4.1666666666667%; /* 40px / 960px */
	padding-bottom: 14px; /* 15px / 960px */
}
 
#nav ul li a {
	display: block;

}
 
#nav li { /* all list items */
	float: left;
}

#nav li.current_page_item {
	background: url('../img/nav-current.gif') no-repeat center bottom;
}

#nav li:hover {
	background: url('../img/nav-hover.gif') no-repeat center bottom;
}
#nav .sub-menu { /* second-level lists */
	position: absolute;
	background: #679bcd;
	margin-top: 14px;
	font-weight: 400;
	font-size: 1em;
	color: #FFFFFF;
	letter-spacing: 0;
	width:8em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	z-index: 100;
}

#nav .sub-menu li {
	width:8em;
	padding-top:7px;
	padding-bottom: 7px;
	border-bottom: solid 1px #CCC;
	
}

#nav .sub-menu li.current_page_item {
	background: none;
}

#nav .sub-menu a {
	padding-left:5px;
	color: #FFFFFF;
}
#nav .sub-menu li:hover {
	background:#38638e;
	}
 
#nav .sub-menu .sub-menu { /* third-and-above-level lists */
	margin-top: -14px;
	margin-left:8em;
	}
 
#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}
 
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}






#subnav {
	
	padding-top: 15.9090909090909%; /* 35px /220px */

}

#subnav li {
	list-style: none;
	padding-left: 6.8181818181818%; /* 15px / 220px */
	margin-top: 2.2727272727273%; /* 5px / 220px */
	border-bottom: solid 1px #fafafa;	
	font-weight: 600;
	font-size: 1.25em;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.75em;
}

#subnav li a {
	color:#5998c9;
}

#subnav li.current_page_item {
	background: url('../img/subnav-current.gif') no-repeat left center;
	margin-left: 5.4545454545455%; /* 12px / 220px */
	padding-left: 9.0909090909091%; /* 20px / 220px */
	}

li.subnav-head {
	color: #ccc;
}

#subnav li .highlight a {
	color: #333;
}

/* Blog Title
---------------------------------------------*/

#blogtitle {
	padding-left: 5.4054054054054%; /* 40px / 740px */
	padding-top: 4.7297297297297%; /* 35px /740px */
	padding-bottom: 3.3783783783784%; /*25px / 740px */
}

#blogtitle h1 {
	color:#FFF;
	text-transform: uppercase;
	font-size: 3em;
	line-height: .9em;
	margin:0;
	padding:0;
}

#blogtitle h1.little {
	font-size: 1.05em;
}

#logo {
	min-width: 175px;
}

/*Entry
----------------------------------*/

.entry {
	padding-left: 5.4054054054054%; /* 40px / 740px */
	padding-top: 4.7297297297297%; /* 35px /740px */
	padding-bottom: 4.7297297297297%; /* 35px /740px */
}
	
.entry img {
	border: solid #f1f1f1 9px;
	-webkit-box-shadow: -3px 3px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -3px 3px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         -3px 3px 5px rgba(50, 50, 50, 0.5);
	margin-right:10px;
}

/*Homepage
----------------------------------*/
#homepage {
	width:100%;
	max-width: 960px;
	background: #e2e1df url("../img/home_bg.gif") repeat-y 69.791666666666667% 0; /* 675px / 960px */
	margin: 0 auto;
	display: block;
	
}

#homepage #sidebar-right {
	width: 30.208333333333333%; /* 290px / 960px */
	background: none;
	float:right;
}

#homepage h3  {
 	font-weight: 700;
 	
}

#homepage p a {
 	color: #333333;
}

#homepage .morenews p a {
	color:#00337F;
	font-weight: 700;
}

#blogfeed {
	width: 68.791666666666667%; /* 670px / 960px */
	float:left;
	padding-bottom: 5.303030303030303%; /* 35px /675px */
}

#blogfeed h2 {
	font-weight: 700;
	text-transform: uppercase;
	color: #999999;
}

#blogfeed p a{
	padding-top: 2.272727272727273%; /* 15px /675px */
}

#blogfeed .snippet {
	margin-right: 6.060606060606061%; /* 40px / 675px */
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
	margin-bottom: 2.272727272727273%; /* 15px /675px */
	border-bottom: ridge 5px #fafafa;
}



/* News Archive
----------------------------------*/
#content .snippet {
	margin-left: 5.4054054054054%; /* 40px / 740px */
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
	border-bottom: ridge 5px #fafafa;
}

.thumbnail img {
	max-width:75px;
	margin-right: 2.1428571428571%;
	border: solid #cad4d5 3px;
}

/* People
___________________________________________________________*/

.people-info {
float: left;
width: 30%

}

.people-info img {
max-width:80%;
}

.people-info h2 {
	margin-bottom: 0;
}

.people-info .label {
font-weight: 700;
}

.people-tabs {
float:right;
width: 69%;
border-left: #ddd solid 1px;

}

.people-tabs li {
	padding-left:2%;
}

/* Pagination
___________________________________________________________*/

.pagination {
	margin-left:50%;
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
}

.page-numbers { 
	padding:3px;
	-webkit-box-shadow: -2px 2px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -2px 2px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         -2px 2px 2px rgba(50, 50, 50, 0.5);
}

.page-numbers.current { 
	color: #333; 
}

/* Directory
___________________________________________________________*/


.directory-table img {
	max-width: 100px;
	max-height: 100px;
}

.directory-table h4 {
	margin:0;
}

.directory-table td {
	vertical-align: top;
}

p.candidates {
font-size: 80%;}
p.contact-info {
	margin-top: 25px;
}

/* Mini-Home
___________________________________________________________*/


.entry-text {
	width: 65%;
	margin-right: 3.571428571428571%;
	float: left;
}

#sidebar-right {
	width: 31.428571428571429%;
	background-color: #ededed;
	float:right;
	}
	
/* Widgets
___________________________________________________________*/

#undergrad-widget .profile_box {
	background-color: #ffd245;
}

#undergrad-widget .profile_box img {
	border:none;
	background-color: #ffd245;
	max-width: 35%;
	float:left;
	margin-right:10px;
	margin-bottom:0;

	
}

#undergrad-widget .profile_box h4 {
	text-transform: none;
	font-weight: 700;
	font-size: 1.25em;
	margin-bottom: 1em;
	padding-top:5px;


}

#undergrad-widget .profile_box p {
	font-size: 0.8em;
	padding-right:10px;
	

}

#homepage-widget {
	padding: 5%;
}

#homepage-widget h3 {
	margin-bottom:0.5em;
}
#homepage-widget img {
	float:left;
	padding-right:10px;
	margin:0;
}

/* Courses
___________________________________________________________*/

h3.acc_trigger {
	padding: 4px;	margin: 0 0 5px 0;
	background: #f0f0f0;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;

}


.acc_container {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	clear: both;

}
.acc_container .course {
	padding: 20px;
}
