/* Table of Contents
==================================================
    1.0 Special Classes
    2.0 Containers
    	2.1 Header Container
    	2.2 Content Container
    	2.3 Footer Container
	3.0 Footer Content
		3.1 Copyright
		3.2 Social Media
	4.0 Navigation
		4.1 Main Menu
		4.2 Left Side Nav
	5.0 Header Content - Logo and Title
	6.0 Content - Entry
	7.0 Homepage
	8.0 News Archive
	9.0 People
		9.1 Single Display and Tabs
		9.2 Directory View
	10.0 Pagination
	11.0 Mini-Home - Graduate/Undergraduate - 2 Sidebar
	12.0 Widgets
		12.1 Text Widget
		12.2 Spotlight/Profile Widget
		12.3 Upcoming Events Widget
	13.0 Course and Accordion
	14.0 Calendar

/* 1.0 Special Classes
___________________________________________________________*/
.altcolorblack {
	color:#333333;
}
	
.altcolorblue {
	color:#00337F;
}

.label { 
	font-weight: 700;
}

.clearboth {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;	
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.video-container { /* Wrap around iFrame and SWF embeds for responsive sizing */
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 2.0 Containers
----------------------------------- */
/* 2.1 Header Container
----------------------------------- */
#container-head {
	width:100%;
	background: #333;
}

#nav-break {
	background: url('../img/header_bg.png') repeat-x left bottom;
	height:27px;
	position:relative;
	z-index: 2;
}

#header {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display:block;
}

#header-left {
	width: 22.9166666666667%; /* 220px / 960px */
	min-width: 175px;
	float:left;
}

#header-right {
	width: 77.0833333333333%; /* 740px / 960px */
	float:right;
}

/* 2.2 Content Container
----------------------------------- */
#container-mid {
	width:100%;
}

#main {
	width:100%;
	max-width: 960px;
	background: #e2e1df url("../img/blog.png") repeat-y 22.9166666666667% 0; /* 220px / 960px */
	margin: 0 auto;
	display: block;
}

#sidebar-left {
	width: 22.9166666666667%; /* 220px / 960px */
	float:left;
}

#content {
	width: 77.0833333333333%; /* 740px / 960px */
	float:right;
}

#address {
	padding-top: 22.727272727272727%; /* 50px / 220px */
	font-size: 0.75em;
}

/* 2.3 Footer Container
----------------------------------- */
#container-foot {
	background: #a9aaa4 url('../img/bg_footer.png') repeat-x left top;
	width:100%;
}

#footer {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
	clear: both;
}

#footer-left {
	width: 77.0833333333333%; /* 740px / 960px */
	float: left;
	padding-bottom: 5%;
	margin-top:45px;
}

#footer-right {
	width: 22.9166666666667%; /* 220px / 960px */
	float:right;
	margin-top:45px;
}

/* 3.0 Footer Content
----------------------------------- */
/* 3.1 Copyright
----------------------------------- */
#footer p {
	margin:0;
}

#footer p a {
	color: #444;
	font-size:.8em;
}
	
#footer #address-widget .textwidget { /* For Homepage only to display department address */
	font-size: 0.75em;
	line-height: 1.6em;
	border-bottom:none;
	padding:0;
}

/* 3.1 Social Media
----------------------------------- */
#social-media {
	list-style:none;
	display:inline;
	height:32px;
	float:right;
}

#social-media li {
	display: block;
	float:left;
}

#social-media .facebook {
	background: url('../img/facebook.png') no-repeat 0 0;
	height:32px;
	width:35px;
}

#social-media .youtube {
	background: url('../img/youtube.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .rss {
	background: url('../img/rss.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .facebook:hover,
#social-media .youtube:hover,
#social-media .rss:hover {
	background-position:0 -32px;
}

#social-media .facebook span,
#social-media .youtube span,
#social-media .rss span {
	position:absolute;
	top:-999em;
}

/* 4.0 Nav
---------------------------------------------*/
/* 4.1 Nav - Main Menu
---------------------------------------------*/
#nav {
	margin-left: 27.0833333333333%; /* 260px / 960px */
}

#nav a {
	color:#CCC;
}

#nav ul { /* all lists */
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 1.25em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-smooth:always;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-ms-filter:none;
    filter:none;
	letter-spacing: 0.1em;
	list-style: none;
	line-height: 1;
}

#nav ul li {
	margin-right: 3.645833333333333%; /* 35px / 960px */
	padding-bottom: 14px; /* 15px / 960px */
}
 
#nav ul li a {
	display: block;
}
 
#nav li { /* all list items */
	float: left;
}

#nav li.current_page_item,
#nav li.current-page-ancestor {
	background: url('../img/nav-current.gif') no-repeat center bottom;
}

#nav li:hover {
	background: url('../img/nav-hover.png') no-repeat center bottom;
}

#nav .sub-menu { /* second-level lists */
	position: absolute;
	background: #679bcd;
	margin-top: 14px;
	font-weight: 400;
	font-size: 1em;
	color: #FFFFFF;
	letter-spacing: 0;
	width:8em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	z-index: 100;
}

#nav .sub-menu li {
	width:8em;
	padding-top:7px;
	padding-bottom: 7px;
	border-bottom: solid 1px #CCC;
}

#nav .sub-menu li.current_page_item,
#nav .sub-menu li.current-page-ancestor {
	background: none;
}

#nav .sub-menu a {
	padding-left:5px;
	color: #FFFFFF;
}
#nav .sub-menu li:hover {
	background:#38638e;
}
 
#nav .sub-menu .sub-menu { /* third-and-above-level lists */
	margin-top: -14px;
	margin-left:8em;
}
 
#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}
 
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

/* 4.2 Nav - Left Side Nav
---------------------------------------------*/
ul#subnav {
	margin-left:0;
}

#subnav {
	margin-top: 15.9090909090909%; /* 35px /220px */
}

#subnav li {
	list-style: none;
	padding-left: 6.8181818181818%; /* 15px / 220px */
	margin-top: 2.2727272727273%; /* 5px / 220px */
	border-bottom: solid 1px #fafafa;	
	font-weight: 400;
	font-size: 1.25em;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.75em;
}

#subnav li a {
	color:#487ca3;
}

#subnav li ul {
	margin-left:10px;
}

#subnav li ul li {
	font-weight: 400;
	font-size: .85em;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	border-bottom: none;
	padding-left: 4.545454545454545%; /* 10px / 220px */
}

#subnav li ul li a {
	color:#386180;
}
	
#subnav li.current_page_item, 
#subnav li.current_page_ancestor {
	background: url('../img/subnav-current.png') no-repeat 5.4545454545455% .4em;
	padding-left: 14.5454545454546%; /* 20px / 220px */
}

#subnav li ul li.current_page_item,
#subnav li ul li.current_page_parent {
	background: none;
	list-style-image:url('../img/tert_nav.png');
	list-style-position: outside;
	margin-left: 5px;
	padding-left: 0;
}

#subnav li.current_page_ancestor ul.children, 
#subnav li.current_page_item ul.children,
#subnav li.current_page_parent ul.children {
	display: block;
}

#subnav li ul.children {
	display:none;
}

li.subnav-head {
	color: #a6a6a6;
}

#subnav li .highlight a {
	color: #333;
}

/* 5.0 Header Content - Logo and Title
---------------------------------------------*/
#blogtitle {
	margin-left: 5.4054054054054%; /* 40px / 740px */
	margin-top: 4.7297297297297%; /* 35px /740px */
	margin-bottom: 3.3783783783784%; /*25px / 740px */
}

#blogtitle h1 {
	color:#FFF;
	text-transform: uppercase;
	font-size: 3em;
	line-height: .9em;
	margin:0;
	padding:0;
}

#blogtitle h1.little {
	font-size: 1.05em;
}

#logo {
	min-width: 175px;
}

/* 6.0 Entry
----------------------------------*/
.entry {
	margin-left: 5.4054054054054%; /* 40px / 740px */
	margin-top: 4.7297297297297%; /* 35px /740px */
	margin-bottom: 4.7297297297297%; /* 35px /740px */
}
	
.entry img {
	border: solid #f1f1f1 9px;
	-webkit-box-shadow: -3px 3px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -3px 3px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         -3px 3px 5px rgba(50, 50, 50, 0.5);
	margin-right:10px;
}

/* 7.0 Homepage
----------------------------------*/
#homepage {
	width:100%;
	max-width: 960px;
	background: #e2e1df url("../img/home_bg.png") repeat-y 69.791666666666667% 0; /* 675px / 960px */
	margin: 0 auto;
	display: block;
	
}

#homepage #sidebar-right {
	width: 30.208333333333333%; /* 290px / 960px */
	background: none;
	float:right;
	padding: 0;
	margin:0;
}

#homepage a p{
 	color: #333333;
}

#homepage p a{
 	color: #333333;
}

#homepage .morenews p a {
	color:#00337F;
	font-weight: 700;
}

#blogfeed {
	width: 68.791666666666667%; /* 670px / 960px */
	float:left;
	margin-bottom: 5.303030303030303%; /* 35px /675px */
}

#blogfeed h2 {
	font-weight: 700;
	font-size:1.3em;
	text-transform: uppercase;
	color: #999999;
	padding-top: 1em;
	border-bottom: ridge 5px #fafafa;
	margin-right: 6.060606060606061%; /* 40px / 675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
}

#blogfeed p a {
	padding-top: 2.272727272727273%; /* 15px /675px */
}

#blogfeed .snippet {
	margin-right: 6.060606060606061%; /* 40px / 675px */
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
	margin-bottom: 2.272727272727273%; /* 15px /675px */
	border-bottom: ridge 5px #fafafa;
}

/* 8.0 News Archive
----------------------------------*/
#content .snippet {
	margin-left: 5.4054054054054%; /* 40px / 740px */
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
	border-bottom: ridge 5px #fafafa;
}

.thumbnail img {
	max-width:75px;
	margin-right: 2.1428571428571%;
	border: solid #cad4d5 3px;
}

.news-item img {
	float:left;
}

/* 9.0 People
___________________________________________________________*/
/* 9.1 Single Display and Tabs
___________________________________________________________*/
.people-info {
	float: left;
	width: 30%
}

.people-info img {
	max-width:80%;
}

.people-info h2 {
	margin-bottom: 0;
}

.people-info .label {
	font-weight: 700;
}

.people-tabs {
	float:right;
	width: 69%;
	border-left: #ddd solid 1px;
}

.people-tabs li {
	padding-left:2%;
}

ul.tabs-content li {
	padding-left: 10px;
}

.jumpmenu {
	width:80%;
	margin-left: 6.8181818181818%; /* 15px / 220px */
}

/* 9.2 Directory View
___________________________________________________________*/
.directory-table img {
	max-height: 175px;
	margin-left:10px;
	border-width: 3px;
}

.directory-table h4 {
	font-size: 1.625em;
	margin:0;
}

.directory-table td {
	vertical-align: top;
	padding-top:1em;
}

p.candidates {
	font-size: 80%;
}

p.contact-info {
	margin-top: 25px;
}

.directory-table .staff {
	font-size: 90%;
}

/* 10.0 Pagination
___________________________________________________________*/
.pagination {
	margin-left:50%;
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
}

.page-numbers { 
	padding:3px;
	-webkit-box-shadow: -2px 2px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -2px 2px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         -2px 2px 2px rgba(50, 50, 50, 0.5);
}

.page-numbers.current { 
	color: #333; 
}

/* 11.0 Mini-Home - Graduate/Undergraduate - 2 Sidebar
___________________________________________________________*/
.entry-text {
	width: 65%;
	margin-right: 3.571428571428571%;
	float: left;
}

#sidebar-right {
	width: 31.428571428571429%;
	background-color: #ededed;
	float:right;
}
	
/* 12.0 Widgets
___________________________________________________________*/
/* 12.1 Text Widgets
___________________________________________________________*/
.textwidget {
	padding: 6.8181818181818%; /* 15px / 220px */
}

.textwidget h3 {
	margin-bottom:0.5em;
}

.textwidget img {
	float:left;
	padding-right:10px;
	margin:0;
}

/* 12.2 Profile/Spotlight Widgets
___________________________________________________________*/
.profile_box {
	background: rgb(237,237,237); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(198,197,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,1)), color-stop(100%,rgba(198,197,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#c6c5c3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(237,237,237,1) 0%,rgba(198,197,195,1) 100%); /* W3C */
	padding-bottom:10px;
}

.profile_box .spotlight {
	background: #c4a41d url(../img/widget_header.png) no-repeat top left;
	height: 35px;
}

.profile_box img {
	border:none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
	max-width: 35%;
	float:left;
	margin-right:10px;
	margin-bottom:0;
	margin-top:5px;
	margin-left:5px;
}

.profile_box h4 {
	text-transform: none;
	font-weight: 700;
	font-size: 1.25em;
	margin-bottom: 1em;
	padding-top:5px;
}

.profile_box p {
	font-size: 0.8em;
	padding-right:10px;
}

/* 12.3 Upcoming Events Widgets
___________________________________________________________*/
.WPCalendarSimple {
	background: rgb(230,229,227); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(230,229,227,1) 0%, rgba(198,197,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,229,227,1)), color-stop(100%,rgba(198,197,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5e3', endColorstr='#c6c5c3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* W3C */
	padding: 6.8181818181818%; /* 15px / 220px */
}

.WPCalendarSimple h2 {
	font-weight: 700;
	font-size:1.3em;
	text-transform: uppercase;
	color: #333333;
}

.WPCalendarSimple p {
	font-size: 0.8em;
}

.WPCalendarSimple h4 {
	margin-bottom: 0;
	font-size:1em;
	font-weight: 700;
}

/* 13.0 Courses and Accordion
___________________________________________________________*/
h3.acc_trigger {
	padding: 4px;	
	margin: 0 0 10px 0;
	background: #f0f0f0;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	font-size: 1.25em;
}

.acc_container {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	clear: both;
}

.acc_container .course {
	padding: 20px;
}

/* 14.0 Calendar
___________________________________________________________*/
div .fc-event.category-17, div .fc-event.category-17 a { 
	background-color: #679bcd; 
	border-color: #679bcd; 
}

div .fc-event.category-18, div .fc-event.category-18 a { 
	background-color: #95a739; 
	border-color: #95a739; 
}

div .fc-event.category-19, div .fc-event.category-19 a { 
	background-color: #c4a41d; 
	border-color: #c4a41d; 
}

.macro {
	background-color: #c4a41d;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.micro {
	background-color: #95a739;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.theory {
	background-color: #679bcd;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

h2.fc-header-title {
	font-size: 1.3em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em;
	text-transform:uppercase;
}

table.fc-header {
	margin-bottom:0;
}