/* Table of Contents
==================================================
    1.0 Special Classes
    2.0 Containers
    	2.1 Header Container
    	2.2 Content Container
    	2.3 Footer Container
	3.0 Footer Content
		3.1 Copyright
		3.2 Social Media
	4.0 Navigation
		4.1 Main Menu
		4.2 Left Side Nav
	5.0 Header Content
		5.1 Logo and Title
		5.2 Search Bar
	6.0 Content - Entry
	7.0 Homepage
	8.0 News Archive
	9.0 People
		9.1 Single Display and Tabs
		9.2 Directory View
	10.0 Pagination
	11.0 Mini-Home - Graduate/Undergraduate - 2 Sidebar
	12.0 Widgets
		12.1 Text Widget
		12.2 Spotlight/Profile Widget
		12.3 Upcoming Events Widget
	13.0 Course and Accordion
	14.0 Calendar

/* 1.0 Special Classes
___________________________________________________________*/

.label { 
	font-weight: 700;
}

.clearboth {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;	
}

.floatleft {
	float:left;
}

.floatright {
	float:right;
}

.divider,
hr {
	width:100%;
	height:3px;
	margin-bottom: 1.6em;
	border-bottom: ridge 5px #fafafa;

}

.video-container { /* Wrap around iFrame and SWF embeds for responsive sizing */
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed, {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* 2.0 Containers
----------------------------------- */
/* 2.1 Header Container
----------------------------------- */
#container-head {
	width:100%;
}

#nav-break {
	height:27px;
	position:relative;
	z-index: 2;
}

#header {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display:block;
}

#header-left {
	width: 22.9166666666667%; /* 220px / 960px */
	min-width: 175px;
	float:left;
}

#header-right {
	width: 77.0833333333333%; /* 740px / 960px */
	float:right;
}

/* 2.2 Content Container
----------------------------------- */
#container-mid {
	width:100%;
}

#main {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
}

#sidebar-left {
	width: 22.9166666666667%; /* 220px / 960px */
	float:left;
}

#content {
	width: 77.0833333333333%; /* 740px / 960px */
	float:right;
}

#address {
	padding-top: 22.727272727272727%; /* 50px / 220px */
	font-size: 0.75em;
}


/* 2.3 Footer Container
----------------------------------- */
#container-foot {
	width:100%;
}

#footer {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
	clear: both;
}

#footer-left {
	width: 77.0833333333333%; /* 740px / 960px */
	float: left;
	padding-bottom: 5%;
	margin-top:45px;
}

#footer-right {
	width: 22.9166666666667%; /* 220px / 960px */
	float:right;
	margin-top:45px;
}

/* 3.0 Footer Content
----------------------------------- */
/* 3.1 Copyright
----------------------------------- */
#footer p {
	margin:0;
}

#footer p a {
	font-size:.8em;
}
	
#footer #address-widget .textwidget { /* For Homepage only to display department address */
	font-size: 0.75em;
	line-height: 1.6em;
	border-bottom:none;
	padding:0;
}

/* 3.1 Social Media
----------------------------------- */
#social-media {
	list-style:none;
	display:inline;
	height:2em;
	float:right;
}

#social-media li {
	display: block;
	float:left;
}

#social-media .facebook {
	background: url('../img/facebook.png') no-repeat 0 0;
	height:32px;
	width:35px;
}

#social-media .youtube {
	background: url('../img/youtube.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .rss {
	background: url('../img/rss.png') no-repeat 0 0;
	height:31px;
	width:35px;
}

#social-media .facebook:hover,
#social-media .youtube:hover,
#social-media .rss:hover {
	background-position:0 -32px;
}
#social-media .facebook a,
#social-media .youtube a,
#social-media .rss a {
	height:32px;
	width:35px;
}

#social-media .facebook span,
#social-media .youtube span,
#social-media .rss span {
	position:absolute;
	top:-999em;
}

/* 4.0 Nav
---------------------------------------------*/
/* 4.1 Nav - Main Menu
---------------------------------------------*/
#nav {
	margin-left: 27.0833333333333%; /* 260px / 960px */
}

#nav ul { /* all lists */
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 1.25em;
	font-family: 'PT Sans Narrow', sans-serif;
	font-smooth:always;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-ms-filter:none;
    filter:none;
	letter-spacing: 0.1em;
	list-style: none;
	line-height: 1;
}

#nav ul li {
	margin-right: 3.645833333333333%; /* 35px / 960px */
	padding-bottom: 14px; /* 15px / 960px */
}
 
#nav ul li a {
	display: block;
}
 
#nav li { /* all list items */
	float: left;
}


#nav .sub-menu { /* second-level lists */
	position: absolute;
	margin-top: 14px;
	font-weight: 400;
	font-size: 1em;
	letter-spacing: 0;
	width:8em;
	left: -999em; /* using left instead of display to hide menus because display: none isn't read by screen readers */
	z-index: 100;
}

#nav .sub-menu li {
	width:8em;
	padding-top:7px;
	padding-bottom: 7px;
	border-bottom: solid 1px #CCC;
}

#nav .sub-menu li.current_page_item,
#nav .sub-menu li.current-page-ancestor {
	background: none;
}

#nav .sub-menu a {
	padding-left:5px;
}

 
#nav .sub-menu .sub-menu { /* third-and-above-level lists */
	margin-top: -14px;
	margin-left:8em;
}
 
#nav li:hover ul ul, #nav li.sfhover ul ul {
	left: -999em;
}
 
#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul { /* lists nested under hovered list items */
	left: auto;
}

/* 4.2 Nav - Left Side Nav
---------------------------------------------*/
ul#subnav {
	margin-left:0;
}

#subnav {
	margin-top: 15.9090909090909%; /* 35px /220px */
}

#subnav li {
	list-style: none;
	padding-left: 6.8181818181818%; /* 15px / 220px */
	margin-top: 2.2727272727273%; /* 5px / 220px */
	border-bottom: solid 1px #fafafa;	
	font-weight: 400;
	font-size: 1.25em;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 0.1em;
	line-height: 1.75em;
}

#subnav li ul {
	margin-left:10px;
}

#subnav li ul li {
	font-weight: 400;
	font-size: .85em;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	border-bottom: none;
	padding-left: 4.545454545454545%; /* 10px / 220px */
}
	
#subnav li.current_page_item, 
#subnav li.current_page_ancestor {
	padding-left: 14.5454545454546%; /* 20px / 220px */
}

#subnav li ul li.current_page_item,
#subnav li ul li.current_page_parent {
	background: none;
	list-style-position: outside;
	margin-left: 5px;
	padding-left: 0;
}

#subnav li.current_page_ancestor ul.children, 
#subnav li.current_page_item ul.children,
#subnav li.current_page_parent ul.children {
	display: block;
}

#subnav li ul.children {
	display:none;
}

/* 5.0 Header Content - Logo and Title
---------------------------------------------*/
/* 5.1 Logo and Title
---------------------------------------------*/
#blogtitle {
	margin-left: 5.4054054054054%; /* 40px / 740px */
	margin-top: 4.7297297297297%; /* 35px /740px */
	margin-bottom: 3.3783783783784%; /*25px / 740px */
	float:left;
}

#blogtitle h1,
#blogtitle h1 a {
	color:#FFF;
	text-transform: uppercase;
	font-size: 3em;
	line-height: .9em;
	margin:0;
	padding:0;
}

#blogtitle h1.little {
	font-size: 1.05em;
}

#logo {
	min-width: 175px;
}

/* 5.2 Search Bar and Search Results
___________________________________________________________*/
#searchbar {
	float:right;
	position:relative;
	width: 220px;
	margin-top: 2.027027027027027%; /* 15px /740px */

}
#searchbar input {
	background-color: #686868;
	border: none;
	color: #999999;
}

#searchbar input[type="submit"] {
	background: url('../img/search.png');
	border:none;
	padding:0;
	margin:0;
	position:absolute;
	right:3px;
	top:3px;
	height:25px;
	width: 25px;
	text-indent: -9999px;
	}

#searchresults {
	width:100%;
	max-width: 960px;
	margin: 40px auto;
	display: block;
}

#searchresults h3 {
	margin-bottom: 0;
	margin-top:10px;
}


/* 6.0 Entry
----------------------------------*/
.entry {
	margin-left: 5.4054054054054%; /* 40px / 740px */
	margin-top: 4.7297297297297%; /* 35px /740px */
	margin-bottom: 4.7297297297297%; /* 35px /740px */
}
	
.entry img {
	border: solid #f1f1f1 9px;
	-webkit-box-shadow: -3px 3px 5px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -3px 3px 5px rgba(50, 50, 50, 0.5);
	box-shadow:         -3px 3px 5px rgba(50, 50, 50, 0.5);
	margin-right:10px;
}

/* 7.0 Homepage
----------------------------------*/
#homepage {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	display: block;
	
}

#homepage #sidebar-right {
	width: 30.208333333333333%; /* 290px / 960px */
	background: none;
	float:right;
	padding: 0;
	margin:0;
}

#homepage .morenews p a {
	font-weight: 700;
}

#blogfeed {
	width: 68.791666666666667%; /* 670px / 960px */
	float:left;
	margin-bottom: 5.303030303030303%; /* 35px /675px */
}

#blogfeed h2 {
	font-weight: 700;
	font-size:1.3em;
	text-transform: uppercase;
	padding-top: 1em;
	border-bottom: ridge 5px #fafafa;
	margin-right: 6.060606060606061%; /* 40px / 675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
}

#blogfeed p a {
	padding-top: 2.272727272727273%; /* 15px /675px */
}

#blogfeed .snippet {
	margin-right: 6.060606060606061%; /* 40px / 675px */
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
	border-bottom: ridge 5px #fafafa;
}

.snippet p {
	margin-bottom: 3em;}

/* 8.0 News Archive
----------------------------------*/
#content .snippet {
	margin-left: 5.4054054054054%; /* 40px / 740px */
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
	border-bottom: ridge 5px #fafafa;
}

.thumbnail img {
	max-width:75px;
	margin-right: 2.1428571428571%;
	border: solid #cad4d5 3px;
}

.news-item img {
	float:left;
}

/* 9.0 People
___________________________________________________________*/
/* 9.1 Single Display and Tabs
___________________________________________________________*/
.people-info {
	float: left;
	width: 30%
}

.people-info img {
	max-width:80%;
}

.people-info h2 {
	margin-bottom: 0;
}

.people-info .label {
	font-weight: 700;
}

.people-tabs {
	float:right;
	width: 69%;
	border-left: #ddd solid 1px;
}

.people-tabs h4 {
	font-weight: 700;
}

.people-tabs li {
	padding-left:2%;
}

ul.tabs-content li {
	padding-left: 10px;
}

.jumpmenu {
	width:80%;
	margin-left: 6.8181818181818%; /* 15px / 220px */
}

/* 9.2 Directory View
___________________________________________________________*/
.directory-table img {
	max-height: 175px;
	margin-left:10px;
	border-width: 3px;
}

.directory-table h4 {
	font-size: 1.625em;
	margin:0;
}

.directory-table td {
	vertical-align: top;
	padding-top:1em;
}

p.candidates {
	font-size: 85%;
	margin-bottom:10px;
}

p.contact-info {
	margin-top: 25px;
}

.directory-table .staff {
	font-size: 90%;
}

/* 10.0 Pagination
___________________________________________________________*/
.pagination {
	margin-left:50%;
	padding-top: 2.272727272727273%; /* 15px /675px */
	padding-bottom: 2.272727272727273%; /* 15px /675px */
}

.page-numbers { 
	padding:3px;
	-webkit-box-shadow: -2px 2px 2px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    -2px 2px 2px rgba(50, 50, 50, 0.5);
	box-shadow:         -2px 2px 2px rgba(50, 50, 50, 0.5);
}

/* 11.0 Mini-Home - Graduate/Undergraduate - 2 Sidebar
___________________________________________________________*/
.entry-text {
	width: 65%;
	margin-right: 3.571428571428571%;
	float: left;
}

#sidebar-right {
	width: 31.428571428571429%;
	float:right;
}
	
/* 12.0 Widgets
___________________________________________________________*/
/* 12.1 Text Widgets
___________________________________________________________*/
h2.widgettitle {
	font-weight: 700;
	font-size:1.3em;
	text-transform: uppercase;
	padding-top: 6.8181818181818%; /* 15px / 220px */
	padding-left: 6.8181818181818%; /* 15px / 220px */
	margin-bottom:0;
}

.textwidget {
	padding: 6.8181818181818%; /* 15px / 220px */
}

.textwidget h3 {
	margin-bottom:0.5em;
}

.textwidget img,
.widget_bulletin_board img {
	float:left;
	padding-right:10px;
	margin:0;
}

#undergrad-widget {
	padding-bottom:10px;
}

#undergrad-widget .textwidget h4 {
	text-transform: none;
	font-weight: 700;
	font-size: 1.25em;
	margin-bottom: 1em;
	padding-top:5px;
}

#undergrad-widget .textwidget {
	font-size: 0.8em;
	padding-right:10px;
}

/* 12.2 Profile/Spotlight Widgets
___________________________________________________________*/
.profile_box {
	padding-bottom:10px;
}

.profile_box .spotlight {
	height: 35px;
}

.profile_box .jobmarket {
	height: 35px;
}

.profile_box img {
	border:none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow:none;
	box-shadow:none;
	max-width: 35%;
	max-height:130px;
	float:left;
	margin-right:10px;
	margin-bottom:0;
	margin-top:5px;
	margin-left:5px;
}

.profile_box h4 {
	text-transform: none;
	font-weight: 700;
	font-size: 1.25em;
	margin-bottom: 1em;
	padding-top:5px;
}

.profile_box p {
	font-size: 0.8em;
	padding-right:10px;
}


.widget_bulletin_board {
	padding: 6.8181818181818%; /* 15px / 220px */
}

/* 12.3 Upcoming Events Widgets
___________________________________________________________*/
.WPCalendarSimple {
	background: rgb(230,229,227); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(230,229,227,1) 0%, rgba(198,197,195,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,229,227,1)), color-stop(100%,rgba(198,197,195,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5e3', endColorstr='#c6c5c3',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(230,229,227,1) 0%,rgba(198,197,195,1) 100%); /* W3C */
	padding: 6.8181818181818%; /* 15px / 220px */
}

.WPCalendarSimple h2 {
	font-weight: 700;
	font-size:1.3em;
	text-transform: uppercase;
	color: #333333;
	padding-left: 0;
}

.WPCalendarSimple p {
	font-size: 0.8em;
}

.WPCalendarSimple h4,
.widget_bulletin_board h4 {
	margin-bottom: 0;
	font-size:1em;
	font-weight: 700;
}

/* 13.0 Courses and Accordion
___________________________________________________________*/
h3.acc_trigger {
	padding: 4px;	
	margin: 0 0 10px 0;
	background: #f0f0f0;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-radius: 5px;
	font-size: 1.25em;
}

.acc_container {
	margin: 0 0 5px; padding: 0;
	overflow: hidden;
	clear: both;
}

.acc_expandall {
	text-transform: uppercase;
	font-size:50%;
}

.acc_container .course {
	padding: 20px;
}

/* 14.0 Calendar
___________________________________________________________*/
div .fc-event.category-17, div .fc-event.category-17 a { /* Theory Events */
	background-color: #679bcd; 
	border-color: #679bcd; 
}

div .fc-event.category-18, div .fc-event.category-18 a { /* Micro Events */
	background-color: #95a739; 
	border-color: #95a739; 
}

div .fc-event.category-19, div .fc-event.category-19 a { /* Macro Events */
	background-color: #c4a41d; 
	border-color: #c4a41d; 
}

div .fc-event.category-24, div .fc-event.category-24 a { /* Lunch Seminar Events */
	background-color: #c4691d; 
	border-color: #c4691d; 
}

div .fc-event.category-23, div .fc-event.category-23 a { /* 2nd Year Seminar Events */
	background-color: #a64938; 
	border-color: #a64938; 
}

.macro {
	background-color: #c4a41d;
	color:#FFFFFF;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.micro {
	background-color: #95a739;
	color:#FFFFFF;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.theory {
	background-color: #679bcd;
	color:#FFFFFF;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.lunch {
	background-color: #c4691d;
	color:#FFFFFF;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.practicum {
	background-color: #a64938;
	color:#FFFFFF;
	display: inline;
	padding-top: 7px;
	padding-bottom:8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

h2.fc-header-title {
	font-size: 1.3em; /* 26px */
	line-height: 1em;
	margin: 0 0 1em;
	text-transform:uppercase;
}

table.fc-header {
	margin-bottom:0;
}

#searchbar.mobile {display: none;}

.readmore {
	font-size:.75em;
}

.wysiwyg-more-less-toggle,
.acc_container {display:none;}