/*
 * jQuery FlexSlider v1.3
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* FlexSlider Necessary Styles
*********************************/ 
#slider-holder {
	margin: 0 auto;
	display:block;
	background: url('../img/contentmid-bg.png') repeat-x left top;
	margin-top: -14px;
	position: relative;
	z-index:1;
}
.flexslider {
	width: 100%; 
	position: relative; 
	min-height: inherit;
	padding: 0;
}

.flexslider .slides li {
	display: none;
	position: relative;
} /* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
	max-width: 100%; 
	display: block;
}

ul.slides {
	list-style: none;
}

.flexslider ul {
	list-style: none;
	margin:0;
}

.slide-holder {
	width:100%;
	max-width: 960px;
	margin: 0 auto;
	position:relative;
}

.slide-holder img {
	margin:0;
}

/* FlexSlider Default Theme
*********************************/

.slide1 {
	background: #679bcd url('../img/slider-bottom-bg.png') repeat-x left bottom;
}

.slide2 {
	background: #95a739 url('../img/slider-bottom-bg.png') repeat-x left bottom;
}

.slide3 {
	background: #c4a41d url('../img/slider-bottom-bg.png') repeat-x left bottom;
}


/* Caption style */
.flex-caption {
	width: 25.520833333333333%; /* 285px / 960px */
	position: absolute;
	top: 6%;
	left: 70.3125%;
	padding-left: 1.5625% /*15px / 960px */	
}

.flex-caption h3 {
	font-size: 1.45em; 
	line-height: 1.2em;
	color:#fff;
}

.flex-direction-nav {
	display: none;
}
/* Direction Nav 
.flex-direction-nav li a {width: 52px; height: 52px; margin: -13px 0 0; display: block; background: url('../img//bg_direction_nav.png') no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px;} /* set negative margin-top equal to half the height on the directional-nav for perfect vertical centering 
.flex-direction-nav li a.next {background-position: -52px 0; right: -21px;}
.flex-direction-nav li a.prev {background-position: 0 0; left: -21px;} */

/* Control Nav */
.flex-control-nav {
	display:none;
} 


/* Containers */






/* Responsive Media Queries*/


@media screen and (max-width: 820px) { 

	.flex-caption h3 {
		font-size: 1.3em; 
		line-height: 1.2em;
	}
}
	
@media screen and (max-width: 730px) { 

	.flex-caption h3 {
		font-size: 1.18em; 
		line-height: 1.1em;
	}
}


@media screen and (max-width: 655px) { 
	
	a.button {
		visibility: hidden;
	}
}

@media screen and (max-width: 615px) { 
	
	.flex-caption h3 {
		font-size: 1em; 
	}
}

@media screen and (max-width: 475px) {
	.flex-caption {
		visibility: hidden;
	}
} 