/* Media queries
---------------------------------------- */
@media screen and (max-width: 875px) { 
	/* Tablets/netbooks */

#header-right {
	float:left;
	width:70%;
	}

#nav {
	clear:both;
	margin-left: 2%;
	}

.flex-caption h3 {
	font-size: 1em; 
	line-height: 1.2em;
	color:#fff;
	}
	
	
} /*End 875px media query */


@media screen and (max-width: 750px) {

#header-right {
	width:65%;
	}

.directory-table img {
	display:none;
	}
} /*End 750px media query */

@media screen and (max-width: 700px) {

#header-right {
	width:57%;
	}

.directory-table img {
	display:none;
	}
} /*End 700px media query */


@media screen and (max-width: 650px) {

#header-right: {
	width:50%;
	float:right;
	}
	
#searchbar {
	float:none;
	padding-left:5.4054054054054%;
	}
	
#nav ul li {
	letter-spacing: normal;
	font-weight: 400;
	margin-right:2.1666666666667%;
	}
	
.people-info {
	float:none;
	width: 100%;
	clear: both;
	}
	
.people-tabs {
	float:none;
	clear: both;
	width: 100%;
	}
	
.people-picture {
	float:left; 
	width:35%;
	}

.people-picture img {
	max-width: 90%;
	}

.people-contact {
	float:right;
	width: 55%;
	}

} /*End 650px media query */



@media screen and (max-width: 520px) {
	/* Wide mobile and tablets portrait */
body {
	font-size:90%;
	}



}/*End 520px media query */


@media screen and (max-width: 480px) {
#sidebar-right { display:none;}
#blogfeed {
	width:100%;
}
}
@media screen and (max-width: 400px) {
	/*for mobile */


#header-left {
	width: 43.75%;
	}

#header-right {
	width: 50.25%;
	float:right;
	}

#nav ul li {
	letter-spacing: normal;
	font-weight: 400;
	margin-right:2.1666666666667%;
	}
	
.people-picture {
	display: none; 
	float:none; 
	width:0%;
	}

.people-contact {
	float:left;
	width:100%;
	}

}/*End 400px media query */



@media screen and (max-width: 380px) {
body {
	font-size:70%;
	}

#blogtitle {
	font-size:75%;
	margin-top:15%;
	margin-left:0;
	}


} /*End 380 pxmedia query */




	






/* Print styles
---------------------------------------- */

/* Print styles inlined to avoid extra HTTP connection */

@media print {
	* {
		background: transparent !important;
		color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: none;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}

	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
	
	#sidebar-left {
	display:none;
	}
	
	#sidebar-right {
	display:none;
	}
	
	#nav {
	display: none;
	}
	
	#logo img {
		display: none;
		}
	#logo a[href]:after {
		content: " " attr(title) "";
	}
	
	#blogtitle {
	margin-top: 0;
	}
	
	#social-media {
	display: none;
	}
	
	#content {
	float: left;
	width: 95%;
	}
	
	.flexslider {
	display:none;
	}
	
	#homepage a[href]:after {
		content: none;
	}
	
	#blogfeed {
		width:95%;
	}
	#homepage .snippet h3{
		content: " (" attr(href) ")";
	}
	
	.entry {
	width: 95%;
	}
	
	.entry img {
	display: none;
	}
	
	.directory-table img {
	display:block;
	}
	
	.directory-table a[href]:after {
		content: none;
	}
	
	ul.tabs {
		display:none;
	}
	
	ul.tabs-content > li {
		display: block;
	}
	
	ul.tabs-content > li:before {
		content: " " attr(id) ":"}
		
	.people-info {
	float:none;
	width:95%
	}
	
	.people-tabs {
	float:none;
	width:95%;
	border:none;
	}
	
	.people-info a[href]:after {
		content: none;
	}
	
	.people-tabs a[href]:after {
		content: none;
	}
}