/* Media queries
---------------------------------------- */
@media screen and (max-width: 320px) {

#blogtitle {
font-size:75%;
padding-top:15%;
padding-left:0;
}


}
@media screen and (max-width: 400px) {
	/*for mobile */

body {
font-size:80%;
}

#header-left {
	width: 43.75%;
}

#header-right {
	width: 50.25%;
	float:right;
}

#nav ul li {
	letter-spacing: normal;
	font-weight: 400;
	margin-right:2.1666666666667%
	}

	
}/*End media query */

@media screen and (max-width: 520px) {
	/* Wide mobile and tablets portrait */
body {
font-size:90%;
}

#header-right {
	float:right;
}

#nav {
padding-bottom: 5%;

}

	
}/*End media query */

@media screen and (max-width: 650px) {

#nav ul li {
	letter-spacing: normal;
	font-weight: 400;
	margin-right:2.1666666666667%
	}
}

@media screen and (max-width: 875px) { 
	/* Tablets/netbooks */

#header-right {
	float:left;
	width:50%;
}

#nav {
clear:both;
padding-left: 2%;
}

.flex-caption h3 {
	font-size: 1em; 
	line-height: 1.2em;
	color:#fff;
}
	
	
} /*End media query */

@media screen and (max-width: 960px) { 
	/* Tablets/netbooks */

	
} /*End media query */


/* Print styles
---------------------------------------- */

/* Print styles inlined to avoid extra HTTP connection */

@media print {
	* {
		background: transparent !important;
		color: black !important; /* Black prints faster: sanbeiji.com/archives/953 */
		text-shadow: none !important;
		filter: none !important;
		-ms-filter: none !important;
	}

	a, a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	/* Do not show javascript and internal links */
	a[href^="javascript:"]:after, a[href^="#"]:after {
		content: ""; 
	}

	/* Printing Tables: css-discuss.incutio.com/wiki/Printing_Tables */
	thead {
		display: table-header-group;
	}

	tr, img {
		page-break-inside: avoid;
	}

	@page {
		margin: 0.5cm;
	}

	p, h2, h3 {
		orphans: 3;
		widows: 3;
	}

	h2, h3 {
		page-break-after: avoid;
	}
}